### Set (Conjuntos)

In [3]:
# CÃ³mo creamos un set?
s = set([5, 4, 6, 8, 8, 1])
print(s)
print(type(s))

{1, 4, 5, 6, 8}
<class 'set'>

In [10]:
s = {500, 40, 6, 18, 18, 10}
print(s)

{18, 500, 6, 40, 10}

In [8]:
s = {"a", "b", "c", "d","e"}
print(s)

{'d', 'b', 'a', 'e', 'c'}

### Operaciones

In [9]:
# No es posible cambiar un elemento.
s = set([5, 6 ,7, 8])
s[0] = 3

TypeError: 'set' object does not support item assignment

In [11]:
# No se puede agregar al set objetos mutables
lista = ["Guatemala, Honduras"]
conjunto = set(["El Salvador", "Nicaragua", lista])

TypeError: unhashable type: 'list'

In [14]:
# Iterando un set
s = set([5, 6, 7, 8])
for ss in s:
    print(ss)

8
5
6
7

### Metodos del set

In [15]:
# add
conjunto = set([1,2])
conjunto.add(3)
print(conjunto)

{1, 2, 3}

In [20]:
# remove
miset = set([1, 2])
miset.remove(2)
print(miset)

{1}

In [18]:
miset = set([1, 2])
miset.discard(3)
print(miset)

{1}

In [23]:
miset = set([1, 2, 3, 4, 5, 6, 200, 500, 800, 1300])
miset.pop()
miset.pop()
print(miset)

{2, 3, 4, 5, 6, 200, 500, 1300}

In [24]:
# la funcion clear elimina los elementos del conjunto (set)
s = set([1, 2, 3])
s.clear()
print(s)

set()

### Otras operaciones de conjuntos

In [26]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s2.union(s1))

{1, 2, 3, 4, 5}

In [27]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.intersection(s2))

{3}