### Diccionarios

In [7]:
diccionario1 = {
    "Nombre": "Mario",
    "Edad" : 27,
    "Documento" : 1029234
}
print(diccionario)

{'Nombre': 'Mario', 'Edad': 27, 'Documento': 1029234}

In [4]:
diccionario2 = {
    "Nombre": "Hiram",
    "Edad" : 38,
    "Documento" : 1021534
}
print(diccionario2)

{'Nombre': 'Hiram', 'Edad': 38, 'Documento': 1021534}

In [5]:
diccionario3 = {
    "Nombre": "Nelson",
    "Edad" : 25,
    "Documento" : 1215534
}
print(diccionario3)

{'Nombre': 'Nelson', 'Edad': 25, 'Documento': 1215534}

In [8]:
print(diccionario1["Nombre"])

Mario

In [10]:
diccionario1["Direccion"] = "5 calle 8-45 zona 14"
print(diccionario1)

{'Nombre': 'Mario', 'Edad': 27, 'Documento': 1029234, 'Direccion': '5 calle 8-45 zona 14'}

### Recorriendo un diccionario

In [11]:
for llave in diccionario1:
    print(llave)

Nombre
Edad
Documento
Direccion

In [12]:
for llave in diccionario1:
    print(diccionario1[llave])

Mario
27
1029234
5 calle 8-45 zona 14

In [18]:
for llave, valor in diccionario1.items():    
    print(f"{llave}: {valor}")

Nombre: Mario
Edad: 27
Documento: 1029234
Direccion: 5 calle 8-45 zona 14

### Diccionarios Anidados

In [20]:
personal = {
    "persona1" : diccionario1,
    "persona2" : diccionario2,
    "persona3" : diccionario3
}
print(personal)

{'persona1': {'Nombre': 'Mario', 'Edad': 27, 'Documento': 1029234, 'Direccion': '5 calle 8-45 zona 14'}, 'persona2': {'Nombre': 'Hiram', 'Edad': 38, 'Documento': 1021534}, 'persona3': {'Nombre': 'Nelson', 'Edad': 25, 'Documento': 1215534}}

In [24]:
personal2 = []
personal2.append(diccionario1)
personal2.append(diccionario2)
personal2.append(diccionario3)
print(personal2)

[{'Nombre': 'Mario', 'Edad': 27, 'Documento': 1029234, 'Direccion': '5 calle 8-45 zona 14'}, {'Nombre': 'Hiram', 'Edad': 38, 'Documento': 1021534}, {'Nombre': 'Nelson', 'Edad': 25, 'Documento': 1215534}]