In [1]:
### Conversión Implicita
a = 1
b = 2.3
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [2]:
a = a + b
print(a)
print(type(a))

3.3
<class 'float'>

In [3]:
# No es posible realizar una operacion "+" sobre elementos numericos y de caracteres, como en este ejemplo:
a = 500
b = "500"
c = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Conversión explicita

In [4]:
# Casting de float a int causa perdida de datos (parte decimal).  Trunca la parte decimal.
a = 3.5
b = int(a)
print(b)

3

In [5]:
# Convertir de string a float
a = "35.5"
print(float(a))

35.5

In [8]:
a = "Python"
print(float(a))

ValueError: could not convert string to float: 'Python'

In [11]:
a = "150"
b = "200"
#c = a + b
c = int(a) + int(b)

In [12]:
print(c)

350

In [16]:
a = 500
b = 200
a = str(a + b)
print(a)
print(type(a))

700
<class 'str'>

In [17]:
# Convertir set a lista
a = {1, 2, 3}
b = list(a)

print(type(a))
print(type(b))

<class 'set'>
<class 'list'>

In [18]:
a = ["Python", "Lenguaje"]
b = set(a)

print(type(a))
print(type(b))

<class 'list'>
<class 'set'>